.hero h1 {
	font-size: 3rem;
	margin-bottom: 0.8rem;
}

.hero label {
	display: block;
	font-size: 1.6rem;
}

.hero textarea {
	border-radius: 0.5rem;
	border: 0.1rem solid var(--text-color);
	box-shadow: 0.1rem 0.1rem 0.1rem var(--text-color);
	max-width: 100%;
	padding: 1rem;
	margin: 0.8rem 0;
	width: 40rem;
	height: 12rem;
}

.hero .btn-create {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.hero p {
	color: #f8320f;
	margin: 1rem 0 0;
	font-size: 1.4rem;
}

@media (max-width: 375px) {
	.hero h1 {
		font-size: 2.4rem;
	}

	.hero label {
		font-size: 1.2rem;
	}
}
